body{
    background-color: darkblue;
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;
    background-color: rgb(18, 18, 56);
    
}
.book-card{
    display: flex;
    justify-content: center;
    color: white;
}
.card{
    background-color: teal;
    width: 18rem;
}
.line{
    height: 2px;
    background-color: white;
    
}