body{
    background-color: darkblue;
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;
    background-color: rgb(18, 18, 56);
    
}
.header-img{
    width: 100px;
    height: auto;
}
.book-card{
    background-color: aqua;
    width: 200px;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-book-img{
    width: 100px;
}
.line{
    height: 2px;
    background-color: black;
}