body{
    background-color: darkblue;
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;
    background-color: rgb(18, 18, 56);
    @media (max-width: 436px){
        font-size: 12px;
    }
    @media (max-width: 370px){
        font-size: 10px;
    }
    @media (max-width: 333px){
        font-size: 9px;
    }
    
}
.header-img{
    width: 100px;
    height: auto;
}
.book-content{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.book-card{
    background-color: aqua;
    width: 200px;
    @media (min-width: 730px){
        width: 600px;

    }
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-book-img{
    width: 100px;
}
.line{
    height: 2px;
    background-color: black;
}
.information{
    text-align: center;
}